
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calcola Food Cost</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".buttonButton").click(function () {
                var target = $(this).data('target');
                $(target).slideToggle({
                    direction: 'vertical'
                });
            });
        });


    </script>

</head>

<body class="l1">

    <div class="info_ute">
        <p>Benvenut* {{(infoUtente[1])}} {{(infoUtente[2])}}, Azienda: {{(infoUtente[4])}}</p>
    </div>
    <div class="fondoFor">
        <h1>Nuovo piatto</h1>
        <form action="{{('/nuovoPiatto')}}" method="post">
            <label for="nomePiatto">Inserisci nuovo piatto</label>
            <input type="text" id="nomePiatto" name="nomePiatto">
            <input type="submit" value="Nuovo Piatto">
        </form>

        <p>percentuale costi gestione</p>
    </div>

    <h1>Piatti salvati</h1>
    <div class="fondoForm">

        {% for piatto in piattiUtente %}
        <div class="piatti">
            <div class="infoIn">
                <div>
                    <p>Nome Piatto: </p>
                </div>
                <div>
                    <a href="{{url_for('visualizzaDashboardPiatto', idPiatto=piatto[0])}}">{{piatto[2]}}</a>
                    <input type="hidden" name="nomeP" value="{{piatto[2]}}" />
                </div>
            </div>


            <button class="buttonButton" data-target="#buttonButton{{ loop.index }}">Gestisci</button>
            <div id="buttonButton{{ loop.index }}" class="buttonButton" style="display:none ;">
                <form action="{{(url_for('modifica', sel=1, idP=piatto[0], selCol=0))}}" method="post">
                    <input type="submit" value="Modifica nome piatto" />
                    <input type="hidden" name="nomeP" value="{{piatto[2]}}" />
                    <input type="text" name="nuovo" />
                </form>

                <form action="{{('/cancellaX')}}" method="post">
                    <input type="hidden" name="nomeP" value="{{piatto[2]}}" />
                    <input type="submit" value="Cancella {{piatto[2]}}" />
                </form>

            </div>
            

            <p>Costo Totale del piatto: {{piatto[3]}}</p>

        </div>
        {% endfor %}
    </div>

</body>
</html>