
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calcola Food Cost</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".buttonButton").click(function () {
                var target = $(this).data('target');
                $(target).slideToggle({
                    direction: 'vertical'
                });
            });
        });


    </script>

</head>

<body class="l1">

    <div class="info_ute">
        <div>
            <p>
                Benvenut* {{(infoUtente[1])}} {{(infoUtente[2])}}, Azienda: {{(infoUtente[4])}}
            </p>

            <div>
                <a href="{{(url_for('logOut'))}}">log Out</a>
            </div>
        </div>
    </div>

    <nav class="navLaterale">
        <ul>
            <li><a href="{{(url_for('dashboardMagazzino'))}}">Magazzino</a></li>
            <li><a href="{{(url_for('calcolaTot'))}}">Calcola costi menù</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="menu1">
            
                <button class="buttonButton" data-target="#buttonButton">Aggiungi elemento al magazzino</button>
                <div id="buttonButton" class="buttonButton" style="display:none ;">
                    <form action="{{('')}}" method="post" class="inserimentoDati">
                        <label for="nomePiatto">Nome</label>
                        <input type="text" id="nomePiatto" name="nome">

                        <label for="nomePiatto">prezzo al kg</label>
                        <input type="text" id="nomePiatto" name="prezzoKg">

                        <label for="nomePiatto">prezzo unità</label>
                        <input type="text" id="nomePiatto" name="prezzo">

                        <label for="nomePiatto">Magazzino di riferimento</label>
                        <input type="text" id="nomePiatto" name="magazzinoId">

                        <label for="nomePiatto">Descrizione</label>
                        <input type="text" id="nomePiatto" name="descrizione">

                        <label for="nomePiatto">U.d.M.</label>
                        <input type="text" id="nomePiatto" name="unita">

                        <label for="nomePiatto">Quantità inserita</label>
                        <input type="text" id="nomePiatto" name="quantita">

                        <label for="nomePiatto">Codice</label>
                        <input type="text" id="nomePiatto" name="cod">

                        <label for="nomePiatto">Famiglia</label>
                        <input type="text" id="nomePiatto" name="famiglia">

                        <label for="nomePiatto">Sotto famiglia</label>
                        <input type="text" id="nomePiatto" name="sottoFam">

                        <label for="nomePiatto">Fornitore</label>
                        <input type="text" id="nomePiatto" name="fornitore">

                        <label for="nomePiatto">Codice fornitore</label>
                        <input type="text" id="nomePiatto" name="codFornitore">

                        <label for="nomePiatto">Ordine Minimo</label>
                        <input type="text" id="nomePiatto" name="ordineMin">

                    </form>
                </div>
        </div>
    </div>
</body>
</html>