<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calcola Food Cost</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".menuButton").click(function () {
                var target = $(this).data('target');
                $(target).slideToggle({
                    direction: 'vertical'
                });
            });
        });

    </script>

</head>

<body class="l1">

    <div class="info_ute">
        <div>
            <p>
                Benvenut* {{(infoUtente[1])}} {{(infoUtente[2])}}, Azienda: {{(infoUtente[4])}}
            </p>

            <div>
                <a href="{{(url_for('logOut'))}}">log Out</a>
            </div>
        </div>
    </div>

    <nav class="navLaterale">
        <ul>
            <li><a href="{{(url_for('dashboardMagazzino'))}}">Magazzino</a></li>
            <li><a href="{{(url_for('calcolaTot'))}}">Calcola costi menù</a></li>
        </ul>
    </nav>
    
    <div class="container">
        
        <div class="fondoForm">

            <div class="piattoSingolo">
                <h1>Nome Piatto: {{piattiUtente[2]}}</h1>
                <input type="hidden" name="nomeP" value="{{piattiUtente[2]}}" />

                <div class="tab">
                    {% for ingredientiUtente in ingredientiUtente %}

                    {% if piattiUtente[0]== ingredientiUtente[2] %}
                    <!--TUTTI I COMMENTI NELLA CLASSE TAB 2 SONO LE MODIFICHE DEI VARI PARAMETRI
                APPENA CREATO PANNELLO A SCOMPARSA SOPNO DA REINTEGRARE-->
                    <div class="tab2">
                        <div class="infoIn">
                            <div class="singoloIngrediente">
                                <p>
                                    <p>IGREDIENTE: <b>{{ingredientiUtente[3]}}</b><br>
                                    <p>PREZZO AL Kg: <b>{{ingredientiUtente[4]}}</b> €<br>
                                    <p>QUANTITa': <b>{{ingredientiUtente[6]}}</b> grammi<br>
                                    <p>COSTO: <b>{{ingredientiUtente[7]}}</b> €
                                    <button class="menuButton" data-target="#menuToolsIngredienti{{ loop.index }}">Tools</button>
                                </p>

                                <div id="menuToolsIngredienti{{ loop.index }}" class="menuToolsIngredienti" style="display:none ;">
                                    <form action="{{(url_for('modifica', sel=2, idP=piattiUtente[0], selCol=0, idE=ingredientiUtente[0]))}}" method="post">
                                        <label for="ingre">Nuovo Alimento</label>
                                        <input type="text" name="nuovo" />
                                        <input type="submit" value="Modifica" />
                                    </form>
                                    <br />
                                    <form action="{{(url_for('modifica', sel=2, idP=piattiUtente[0], selCol=1, idE=ingredientiUtente[0]))}}" method="post">
                                        <label for="ingre">Nuovo Prezzo</label>
                                        <input type="text" name="nuovo" />
                                        <input type="submit" value="Modifica" />
                                    </form>
                                    <br />
                                    <form action="{{(url_for('modifica', sel=2, idP=piattiUtente[0], selCol=2, idE=ingredientiUtente[0]))}}" method="post">
                                        <label for="ingre">Nuovo Quantita''</label>
                                        <input type="text" name="nuovo" />
                                        <input type="submit" value="Modifica" />
                                    </form>
                                    <br />


                                    <form action="{{('/cancellaXy')}}" method="post">
                                        <input type="hidden" name="nomeI" value="{{ingredientiUtente[3]}}" />
                                        <input type="submit" value="Cancella Ingrediente" />
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                    {% endif %}

                    {% endfor %}
                </div>


                <form action="{{('/nuovoIngrediente')}}" method="post">
                    <input type="hidden" name="nomeP" value="{{piattiUtente[2]}}" />
                    <label for="nomeAlimento">Alimento</label>
                    <input type="text" id="nomeAlimento" name="nomeAlimento">
                    <br>

                    <label for="prezzoAlKg">Prezzo al Kg</label>
                    <input type="text" id="prezzoAlKg" name="prezzoAlKg">
                    <br>

                    <label for="quantita">Quantita inserita</label>
                    <input type="text" id="quantita" name="quantita">
                    <br>

                    <input type="submit" value="aggiungi">
                    <input type="reset" value="resetta campi">
                </form>

                <p>Costo Totale del piatto: {{piattiUtente[3]}}</p>

            </div>

        </div>

        <div class="panoramicaPiatto">
            <div class="aggiungiPrezzo">
                <form action="{{(url_for('visualizzaDashboardPiatto', idPiatto=piattiUtente[0]))}}" method="post">
                    <label for="prezzoAlimento">Prezzo di vendita</label>
                    <input type="text" id="prezzoAlimento" name="prezzoVendita">
                    <input type="submit" value="Aggiungi prezzo">
                </form>
            </div>

            <div class="foodCost">
                <p>Food Cost del piatto: {{ percentualeFoodCost }} %</p>

                <div>
                    <form action="{{(url_for('calcolaFoodCost', idPiatto=piattiUtente[0]))}}" method="post">
                        <input type="submit" value="Calcola">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>